.ModalUserProfile__wrapper,
.ModalUserProfile__wrapperActiveStatus {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.ModalUserProfile__wrapperActiveStatus {
  transform: scale(1);
}

.ModalUserProfile__content {
  padding: 20px;
  margin: 30px;
  border-radius: 12px;
  background-color: #2d2d2f;
  font-family: $main-font;
  font-size: rem(20px);
  color: white;
}

.ModalUserProfile__greatingPhrase {
  margin-bottom: rem(32px);
  text-align: center;
  font-family: $main-font;
  font-weight: 600;
  font-size: rem(34px);

  @media (max-width: $breakpoint-sm) {
    font-weight: 500;
    font-size: rem(28px);
  }
}

.ModalUserProfile__submitButton {
  width: 100%;
  height: rem(40px);
  background-color: #ffd200;
  border: none;
  border-radius: 4px;
  padding: rem(8px) rem(24px);
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(17px);
  color: #1a1a1a;

  &:disabled {
    background-color: #ffe966;
    color: #949494;
    cursor: not-allowed;
  }
}

.ModalUserProfile__avatar,
.ModalUserProfile__avatarUpload {
  width: rem(70px);
  height: rem(70px);
  margin-right: rem(20px);
  padding: rem(10px);
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-family: $main-font;
  font-size: rem(40px);
  color: black;
}

.ModalUserProfile__avatarPicture {
  align-items: center;
}

.ModalUserProfile__avatarUpload {
  padding: 0;
}

.ModalUserProfile__avatarBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(20px);
}

.ModalUserProfile__avatarInputsBlock {
  display: flex;
  justify-content: space-between;
}

.ModalUserProfile__inputFileOldButton {
  display: none;
}

.ModalUserProfile__inputFileNewButton {
  background-color: #ffd200;
}
