.SignUpForm__pageWrapper {
  position: relative;
  width: rem(456px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;

  @media (max-width: $breakpoint-sm) {
    width: 90%;
  }
}

.SignUpForm__content {
  width: 80%;
  padding: rem(40px) 0;
}

.SignUpForm__infoBlock {
  display: flex;
  margin: rem(30px) 0;
  padding: rem(10px) rem(12px);
  background-color: #F5FDEB;
  border-radius: 4px;
}

.SignUpForm__infoMessage {
  width: 90%;
  padding-left: rem(8px);
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}

.SignUpForm__greatingPhrase {
  margin-bottom: rem(10px);
  text-align: center;
  font-family: $main-font;
  font-weight: 600;
  font-size: rem(30px);
  color: #3a3a3a;

  @media (max-width: $breakpoint-sm) {
    font-weight: 500;
    font-size: rem(28px);
  }
}

.SignUpForm__inputLabel {
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(13px);
  color: #595959;
}

.SignUpForm__inputField {
  width: 100%;
  height: rem(35px);
  display: flex;
  margin: rem(8px) 0 rem(10px) 0;
  padding: rem(10px) rem(12px);
  background-color: #ffffff;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}

.SignUpForm__passwordDataContainer {
  position: relative;
}

.SignUpForm__iconSHowHidePassword {
  position: absolute;
  top: rem(0.5px);
  right: rem(1px);
}

.SignUpForm__linkBackToSignIn {
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}

.SignUpForm__submitButton {
  width: 100%;
  height: rem(40px);
  background-color: #ffd200;
  border: none;
  border-radius: 4px;
  margin-top: rem(20px);
  margin-bottom: rem(20px);
  padding: rem(8px) rem(24px);
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(17px);
  color: #1a1a1a;

  &:disabled {
    background-color: #ffe966;
    color: #949494;
    cursor: not-allowed;
  }
}

.SignUpForm__warningBlock {
  display: flex;
  padding: rem(8px) rem(10px);
  background-color: #FFEDE6;
  border-radius: 4px;
  margin-top: rem(10px);
  margin-bottom: rem(10px);
}

.SignUpForm__warningMessage {
  padding-left: rem(8px);
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}
