.SignInForm__pageWrapper {
  position: relative;
  width: rem(456px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;

  @media (max-width: $breakpoint-sm) {
    width: 90%;
  }
}

.SignInForm__content {
  width: 80%;
  padding: rem(56px) 0;
}

.SignInForm__greatingPhrase {
  margin-bottom: rem(32px);
  text-align: center;
  font-family: $main-font;
  font-weight: 600;
  font-size: rem(34px);
  color: #3a3a3a;

  @media (max-width: $breakpoint-sm) {
    font-weight: 500;
    font-size: rem(28px);
  }
}

.SignInForm__inputLabel {
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(13px);
  color: #595959;
}

.SignInForm__inputField {
  width: 100%;
  height: rem(40px);
  display: flex;
  margin: rem(8px) 0 rem(16px) 0;
  padding: rem(10px) rem(12px);
  background-color: #ffffff;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}

.SignInForm__passwordDataContainer {
  position: relative;
}

.SignInForm__iconSHowHidePassword {
  position: absolute;
  top: rem(2px);
  right: rem(2px);
}

.SignInForm__linkBlock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(15px);
}

.SignInForm__linkForgotPassword,
.SignInForm__linkSigUp {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}

.SignInForm__linkSigUp {
  margin: auto rem(10px);
  font-size: rem(13px);
  color: #595959;
}

.SignInForm__contactAdmin {
  font-size: rem(15px);
  font-weight: 500;
  color: #1a1a1a;
}

.SignInForm__submitButton {
  width: 100%;
  height: rem(40px);
  background-color: #ffd200;
  border: none;
  border-radius: 4px;
  margin-top: rem(32px);
  padding: rem(8px) rem(24px);
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(17px);
  color: #1a1a1a;

  &:disabled {
    background-color: #ffe966;
    color: #949494;
    cursor: not-allowed;
  }
}

.SignInForm__warningBlock {
  display: flex;
  padding: rem(10px) rem(12px);
  background-color: #FFEDE6;
  border-radius: 4px;
  margin-top: rem(16px);
  margin-bottom: rem(16px);
}

.SignInForm__warningMessage {
  padding-left: rem(8px);
  font-family: $main-font;
  font-weight: 400;
  font-size: rem(15px);
  color: #1a1a1a;
}
